/* Alex Ward's Custom YUI2 Reset */
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,header,article,section,nav,figure,aside,hgroup,footer { margin:0;padding:0;box-sizing:border-box; }
table { border-collapse:collapse;border-spacing:0; }
fieldset,img { border:0;outline:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal;font-weight:normal;}
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%;font-weight:normal;}
q:before,q:after { content:'';}
a { text-decoration:none; outline: none; }
abbr,acronym { border:0;}
header, article, section, nav, figure, aside, hgroup, footer { display:block; } // Only for HTML5
body, html { height:100%; }
html, html a { -webkit-font-smoothing: antialiased !important; }
select::-ms-expand { display: none; } // Remove default drop down style in IE
body { font-size: 62.5%;margin: 0;padding: 0; }
strong { font-weight: bold; }
p em { font-style: italic; } /* Any text inside a paragraph should be formatted normally */
