/* Hey there! */
/* I had a feeling that you would stop by and take a look at my code. */
/* Normally I'd minify all my CSS and JS but in this instance I've */
/* decided to leave it uncompressed, makes reading it a little easier */
/* for you. It's ok you don't need to thank me, just get me a beer */
/* if you ever see me in the pub :) */
/* Alex Ward's Custom YUI2 Reset */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, header, article, section, nav, figure, aside, hgroup, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0;
  outline: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

a {
  text-decoration: none;
  outline: none; }

abbr, acronym {
  border: 0; }

header, article, section, nav, figure, aside, hgroup, footer {
  display: block; }

body, html {
  height: 100%; }

html, html a {
  -webkit-font-smoothing: antialiased !important; }

select::-ms-expand {
  display: none; }

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

strong {
  font-weight: bold; }

p em {
  font-style: italic; }

/* Any text inside a paragraph should be formatted normally */
.extraBold {
  font-weight: 600; }

.black, .mainH1Style {
  font-weight: 900; }

.mainH1Style {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em; }

.bodyTextStyle {
  font-size: 1.6em;
  line-height: 1.6em; }

.resetFontSize {
  font-size: 1em;
  line-height: 1em; }

/* This is where all global classes are held, use of !important is ONLY permitted on this page */
/* Common classes */
.hide {
  display: none !important; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

.small {
  font-size: 1em !important; }

.large {
  font-size: 3em !important; }

.tac {
  text-align: center; }

.clear {
  clear: both; }

/* Grid */
.col {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box; }

.max-1 {
  width: 100%; }

.max-2 {
  width: 49.9%; }

.max-3 {
  width: 33%; }

.max-4 {
  width: 25%; }

/* Reusable elements */
.button {
  /* defaults */
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0; }
  .button:hover, .button:focus {
    background-color: rgba(255, 255, 255, 0.8); }

/* This is where all custom styles are held */
/* Global styles */
body {
  font-family: "Lato", arial, sans-serif;
  color: #fff; }

.no-js .warnings {
  position: static; }

.warning {
  font-weight: bold;
  color: #000; }

.for-print,
.js .js-disabled {
  display: none; }

.social {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 9999; }
  .social li {
    display: inline-block; }
  .social a {
    display: block;
    color: #333;
    padding: 0.4em;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 2em;
    margin-left: 0.1em;
    -webkit-transition: background-color 0.4s, color 0.2s;
            transition: background-color 0.4s, color 0.2s; }
    .social a span {
      position: absolute;
      left: -9999px; }
    .social a:hover, .social a:focus {
      color: #fff; }
      .social a:hover.fa-facebook-official, .social a:focus.fa-facebook-official {
        background-color: #47639E; }
      .social a:hover.fa-twitter, .social a:focus.fa-twitter {
        background-color: #55ACEE; }
      .social a:hover.fa-dribbble, .social a:focus.fa-dribbble {
        background-color: #C01C6F; }
      .social a:hover.fa-github, .social a:focus.fa-github {
        background-color: #333333; }
      .social a:hover.fa-behance-square, .social a:focus.fa-behance-square {
        background-color: #0079ff; }

section {
  overflow: hidden; }
  section h2 {
    padding: 1em;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "Caudex", garamond, serif;
    font-weight: bold; }
  section p {
    margin-bottom: 0.5em; }
  section .text-wrap {
    font-size: 2.5em;
    color: #fff;
    padding: 1.5em 1em; }
  section.status {
    height: 100%;
    background-color: #666633; }
    section.status > div {
      background-image: url("../../images/backdrop-available.png");
      background-size: 101% auto;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-color: #bbe6f8;
      padding: 1em 2em 25% 0; }
      .svg section.status > div {
        background-image: url("../../images/backdrop-available.svg"); }
    section.status > div ~ div {
      background: none; }
      .svg section.status > div ~ div {
        background: none; }
    section.status header {
      padding: 1em 0.5em 2.5em;
      color: #333;
      text-align: center;
      border-radius: 0 5px 5px 0; }
    section.status h1 {
      text-transform: uppercase;
      font-family: "Caudex", garamond, serif;
      font-size: 10em; }
    section.status h2 {
      font-size: 3em;
      background: none;
      padding: 0; }
      section.status h2 strong {
        font-weight: bold; }
    section.status .alex {
      position: absolute;
      right: 2%;
      bottom: 2%;
      width: 20%; }
    section.status .cta {
      padding: 0.5em;
      font-size: 4em;
      width: 80%; }
      section.status .cta .button {
        display: inline-block;
        margin-top: 0.5em;
        color: #659758; }
  section.skills {
    background-color: #3D82CD; }
    section.skills img {
      float: left;
      margin: 6em 2em 0;
      height: auto;
      width: 30%; }
    section.skills .skill-table {
      margin-top: 1em;
      margin-bottom: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .no-flexboxlegacy section.skills .skill-table {
        display: table; }
      section.skills .skill-table h2 {
        font-size: 1.4em; }
      section.skills .skill-table ul {
        padding: 1em 1.5em; }
      section.skills .skill-table li {
        margin-bottom: 0.4em; }
      section.skills .skill-table .cell {
        min-height: 100%;
        -webkit-flex-basis: 32.5%;
            -ms-flex-preferred-size: 32.5%;
                flex-basis: 32.5%;
        background-color: #BEA241;
        font-size: 1.5em; }
        .no-flexboxlegacy section.skills .skill-table .cell {
          display: table-cell; }
      section.skills .skill-table .cell:first-child {
        background-color: #1ABE30; }
      section.skills .skill-table .cell:last-child {
        background-color: #BE501A; }
  section.brands {
    background-color: #CD4A3D; }
    section.brands > h2 {
      text-align: right; }
    section.brands > img {
      float: right;
      margin: 2em;
      width: 28%; }
      .no-flexboxlegacy section.brands > img {
        display: none; }
    section.brands ul {
      margin: 0 2.5em 2em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .no-flexboxlegacy section.brands ul {
        display: block; }
    section.brands li {
      text-align: center;
      padding: 2em 2em;
      -webkit-flex-basis: 32%;
          -ms-flex-preferred-size: 32%;
              flex-basis: 32%;
      margin-bottom: 1%;
      background-color: rgba(0, 0, 0, 0.2);
      background-size: cover;
      background-position: 50% 50%; }
      .no-flexboxlegacy section.brands li {
        display: inline-block;
        width: 30%;
        margin-right: 1em; }
      section.brands li img {
        width: 100%;
        height: auto; }
      section.brands li.sse {
        background-image: url(../../images/brands/sse-bg.jpg); }
      section.brands li.bandq {
        background-image: url(../../images/brands/bandq-bg.jpg); }
      section.brands li.honda {
        background-image: url(../../images/brands/honda-bg.jpg); }
      section.brands li.everest {
        background-image: url(../../images/brands/everest-bg.jpg); }
      section.brands li.bowmore {
        background-image: url(../../images/brands/bowmore-bg.jpg);
        background-position: 50% 75%; }
      section.brands li.pandg {
        background-image: url(../../images/brands/pandg-bg.jpg); }
      section.brands li.pampers {
        background-image: url(../../images/brands/pampers-bg.jpg);
        background-position: 50% 0; }
      section.brands li.nhs {
        background-image: url(../../images/brands/nhs-bg.jpg); }
      section.brands li.plusnet {
        background-image: url(../../images/brands/plusnet-bg.jpg); }
  section.references {
    background-color: #7A9F2C; }
    section.references img {
      width: 20%; }
    section.references ul {
      margin: 2em 0 0;
      width: 80%;
      float: left; }
    section.references li {
      margin-bottom: 1.5em;
      padding: 1.5em;
      background: rgba(0, 0, 0, 0.3); }
      section.references li:nth-child(even) {
        background: rgba(0, 0, 0, 0.2); }
    section.references blockquote {
      font-size: 2em; }
    section.references strong {
      display: block; }
  section.generic, section.contact {
    background-color: #8856BB; }
    section.generic > h2, section.contact > h2 {
      text-align: right; }
    section.generic img, section.contact img {
      padding: 1em;
      width: 20%; }
    section.generic a, section.contact a {
      color: #fff; }
      section.generic a:hover, section.generic a:focus, section.contact a:hover, section.contact a:focus {
        color: #3c2256; }
    section.generic .button, section.contact .button {
      color: #221431; }
      section.generic .button:focus, section.generic .button:hover, section.contact .button:focus, section.contact .button:hover {
        background-color: rgba(255, 255, 255, 0.9);
        outline: 0; }
    section.generic .details, section.contact .details {
      padding: 1em 0; }
      section.generic .details span, section.contact .details span {
        display: block;
        margin-bottom: 0.5em; }
    section.generic .warning, section.contact .warning {
      font-size: 2em;
      background: #fff;
      padding: 4em 2em;
      margin-top: 1em; }
    section.generic form, section.contact form {
      padding: 4em 2em; }
      .no-js section.generic form, .no-js section.contact form {
        display: none; }
      section.generic form legend, section.contact form legend {
        display: none; }
      section.generic form .input-container, section.contact form .input-container {
        margin-bottom: 1em; }
      section.generic form .posted-message, section.contact form .posted-message {
        font-size: 1.4em;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 1em;
        margin-bottom: 1em; }
        section.generic form .posted-message .close, section.contact form .posted-message .close {
          display: block;
          margin-top: 0.5em;
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer; }
      section.generic form label, section.contact form label {
        display: block;
        font-size: 1.6em;
        margin-bottom: 0.5em; }
      section.generic form input, section.generic form textarea, section.contact form input, section.contact form textarea {
        width: 100%;
        padding: 1em;
        background-color: #fff;
        border: 0; }
        section.generic form input:focus, section.generic form textarea:focus, section.contact form input:focus, section.contact form textarea:focus {
          background-color: #eee;
          outline: 0; }
        section.generic form input.error-flag, section.generic form textarea.error-flag, section.contact form input.error-flag, section.contact form textarea.error-flag {
          background-color: #f49a9a; }
      section.generic form .radio, section.contact form .radio {
        margin: 2em 0; }
        section.generic form .radio input, section.contact form .radio input {
          float: left;
          width: auto;
          margin-right: 1em; }
      section.generic form .inline-error, section.contact form .inline-error {
        font-size: 1.2em;
        margin-top: 0.5em;
        font-weight: bold; }
      section.generic form button, section.contact form button {
        cursor: pointer;
        width: 100%;
        font-size: 1.6em; }
  section.generic {
    min-height: 90%; }
    section.generic .alex {
      float: right; }
    section.generic header {
      padding: 1em; }
    section.generic h1 {
      font-size: 6em; }
    section.generic h2 {
      background: none;
      padding: 0; }
    section.generic .text-wrap {
      font-size: 1em; }
    section.generic p, section.generic ul {
      font-size: 1.6em;
      margin-bottom: 1em; }
    section.generic ul li:before {
      content: "- "; }
    section.generic div > a {
      margin-top: 1em;
      display: block;
      font-size: 1.5em; }

footer {
  padding: 1em;
  font-size: 1.4em;
  background-color: #424242;
  overflow: hidden; }
  footer .info {
    float: right; }
  footer.pinned {
    min-height: 10%; }
  footer a {
    color: #fff; }
    footer a:hover, footer a:focus {
      text-decoration: underline; }
  footer li {
    display: inline-block; }

/* This is where all media queries are held */
@media screen and (min-width: 1080px) {
  section.status > div {
    padding: 1em 2em 25% 0; }
  section.status .cta {
    font-size: 5em; } }
@media screen and (max-width: 1240px) {
  section.status > div {
    padding: 1em 2em 30% 0; } }
@media screen and (max-width: 1000px) {
  section.status .alex {
    width: 27%; }
  section.skills img {
    width: 40%;
    margin: 1em; }
  section.skills .skill-table {
    clear: both; } }
@media screen and (max-width: 850px) {
  .social li {
    display: block; }
    .social li a {
      margin-bottom: 0.2em;
      margin-left: 0; }

  section.status > div {
    padding: 1em 2em 50% 0; }
  section.status .cta {
    width: 70%;
    font-size: 3.2em; }
  section.contact > img {
    display: none; }
  section.contact .col {
    width: 49%; } }
@media screen and (max-width: 750px) {
  section.skills h2, section.brands h2, section.references h2, section.contact h2 {
    text-align: center;
    font-size: 2.8em; }
  section.status .cta {
    font-size: 4.5em; }
  section.skills img {
    width: 90%; }
  section.skills .skill-table {
    margin: 0;
    clear: both;
    display: block; }
    section.skills .skill-table .cell {
      display: block;
      width: 100%; }
      section.skills .skill-table .cell li {
        display: inline-block;
        width: 48%;
        padding-right: 1.5%; }

  footer div, footer div.info {
    float: none;
    text-align: center;
    margin-bottom: 0.5em; } }
@media screen and (max-width: 750px) and (max-height: 870px) {
  section.status h1 {
    font-size: 6em; }
  section.status h2 {
    font-size: 2em; }
  section.status > div {
    padding: 1em 2em 25% 0; }
  section.status > div ~ div {
    padding: 0; } }
/* Mobile breakpoints are a little different to the above, */
/* they assume a slower connection and replace large SVGs with pngs, */
/* smaller svgs are still used as normal. */
@media screen and (max-width: 550px) {
  section.status > div {
    background-image: url("../../images/backdrop-available.png");
    padding: 1em 2em 25% 0; }
  section.status > div ~ div {
    padding: 0; }
  section.status h1 {
    font-size: 5em;
    font-weight: bold; }
  section.status h2 {
    font-size: 3em; }
  section.status .alex {
    width: 35%; }
  section.status .cta {
    font-size: 3em; }
  section.brands li {
    -webkit-flex-basis: 49%;
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%; }
  section.references img {
    display: none; }
  section.references ul {
    width: 100%; }
  section.contact .col {
    width: 100%; }

  footer p {
    text-align: center;
    margin-bottom: 0.5em; }
  footer a {
    color: #fff; } }
@media screen and (max-width: 400px) {
  section.status > div {
    padding: 1em 2em 20% 0; }
  section.status > div ~ div {
    padding: 0 2em 0 0; }
  section.status .alex {
    width: 40%; } }
@media screen and (max-width: 350px) {
  .social {
    background: #333;
    padding: 0.5em;
    text-align: center;
    position: static;
    right: 0; }
    .social li {
      display: inline-block; }
      .social li a {
        margin: 0 0.3em; }

  section.status > div {
    padding: 0 0 25% 0; }
  section.status header {
    text-align: left; }
  section.status h1 {
    font-size: 3.5em;
    font-weight: bold; }
  section.status h2 {
    font-size: 1.5em; }
  section.status .alex {
    width: 25%; }
  section.status .cta {
    position: relative;
    bottom: 0;
    padding-top: 0.2em;
    font-size: 2em; }
  section.status .button {
    font-size: 0.8rem; }
  section.brands > img, section.references > img, section.contact > img {
    display: none; }
  section .scrolly {
    font-size: 1.7em; } }
@media screen and (max-height: 810px) and (orientation: landscape) {
  .social {
    background: #333;
    padding: 0.5em;
    text-align: center;
    position: static;
    right: 0; }
    .social li {
      display: inline-block; }
      .social li a {
        margin: 0 0.3em; }

  section.status {
    height: auto; }
    section.status > div {
      padding: 0 0 25% 0; }
    section.status > div ~ div {
      padding: 0; }
    section.status .alex {
      padding: 1em;
      float: right;
      position: static;
      width: 15%; }
    section.status .cta {
      width: 100%; }
    section.status .scrolly {
      display: none; }
  section.skills > img {
    width: 30%; }
  section.references img {
    width: 16%;
    margin: 2em 0 0 1em; } }
/* The styles in this sheet are only visible when JS is enabled */
