$brand: #d12531;
$brand50: lighten( $brand, 50%);
$brand25: lighten( $brand, 25%);
$brand10: lighten( $brand, 10%);
$brand5: lighten( $brand, 5%);

$darkGrey: #333;
$mediumGrey: #666;
$lightGrey: #ccc;
$offWhite: #f1f1f1;

$fontFamily: 'Lato', arial, sans-serif;
$fontFamily2: 'Caudex', garamond, serif;

// The classes below are not to be used in Markup, they are for sass imports only

.extraBold { font-weight: 600; }
.black { font-weight: 900; }


.mainH1Style {
    display: block;
    text-align: center;
    text-transform: uppercase;
    @extend .black;
    font-size: 3em;
}

.bodyTextStyle {
    font-size: 1.6em;
    line-height: 1.6em;
}

// If nested tags are bubbling ems, use this to reset to the height of the parent;
.resetFontSize {
    font-size: 1em;
    line-height: 1em;
}
