/* This is where all global classes are held, use of !important is ONLY permitted on this page */

/* Common classes */
.hide { display: none !important; }
.fl { float: left !important; }
.fr { float: right !important; }
.small { font-size: 1em !important; }
.large { font-size: 3em !important; }
.tac { text-align: center; }

/* Grid */
.col {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.max-1 { width: 100%; }
.max-2 { width: 50%; }
.max-3 { width: 33% }
.max-4 { width: 25%; }

/* Reusable elements */

.button {
    /* defaults */
    background-color:rgba(#fff, 0.6);
    color: #659758;
    padding:0.5em 1em;
    border-radius: 0.5em;
    font-size: 1.5rem;
    font-weight: bold;
}
